<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>alipay</name>
	<displayName><![CDATA[Alipay]]></displayName>
	<version><![CDATA[1.0.4]]></version>
	<description><![CDATA[ALIPAY IS THE WORLDS LEADING E-PAYMENT PROVIDER WITH 400 MILLION ACTIVE USERS IN CHINA. It processes 50% of the total online transactions and is the most preferred payment method by Chinese consumers. Configure Alipay and start selling to China now.]]></description>
	<author><![CDATA[Alipay]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall Alipay?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
